<div class='auth-page'>
	<div class="auth-container">
		<div class="closeInterface" ng-click="auth.showAuthForm = false">&times;</div>
		<ul>
			<li ng-click="login = true">Login</li>
			<li ng-click="login = false">Register</li>
		</ul>
		<br/>
		

	<div ng-show="login">
		<div class="login-container auth-box"  ng-controller="LoginController">
		<p>Login to Existing User</p>
			<form>
				<input type="text" name="email" class="sudo-input" ng-model="login.email" placeholder="Email"><br/>
				<input type="password" name="password" class="sudo-input" ng-model="login.password" placeholder="Password"><br/>
				<div  class="auth-button" ng-click="loginUser()"> Login </div>
			</form>
		</div>
	</div>
	<div ng-show="!login">
		<div class="register-container auth-box" ng-show="!login" ng-controller="RegisterController"><p>Create a new account!</p>
			<form>
				<input type="text" class="sudo-input" placeholder="Email" name="email" ng-model="register.email"><br/>
				<input type="password" class="sudo-input" placeholder="Password" name="password" ng-model="register.password"><br/>
				<div class="auth-button" ng-click="registerUser()">Register</div>
			</form>
		</div>
		</div>
	</div>
</div>
