<div class='auth-page'>
	<div class="auth-container">
		<!-- Handles loggin in  -->
		
		<div class="login-container" ng-controller="LoginController">This is the login page>
			<form>
				<input type="text" name="email" ng-model="login.email" placeholder="Email">
				<input type="password" name="password" ng-model="login.password" placeholder="Password">
				<button ng-click="loginUser()"> Login </button>
			</form>
		</div>
		<!-- Handles Registering -->
		<div class="register-controller" ng-controller="RegisterController">
			<form>
				<input type="text" placeholder="Email" name="email" ng-model="register.email">
				<br />
				<input type="password" placeholder="Password" name="password" ng-model="register.password">
				<button ng-click="registerUser()">Register</button>
			</form>
		</div>
	</div>
</div>