<div class="home-page-container">


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Notify</h1>
                        <h3>Capture Your Thoughts</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                           <li ng-click="">
                               <a class="btn btn-default btn-lg"><i class="fa fa-user fa-fw"></i> <span class="network-name">Sign Up</span></a>
                           </li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">All Your Resources Wrapped in One Convenient App</h2>
                    <p class="lead">
                      Notify: never forget your great ideas again with journal entries, lists, business plans, and photos. Remember that special place with geographical identification!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/wood-desk.jpeg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Simplify Your Reflections</h2>
                    <p class="lead">Minimalist design.  Refreshing interface.  Uncluttered space to record what matters most without distracting you from your life.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/Hipster-desk.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <div class="content-section-a" style="background-color: white;">
      <h1 style="text-align:center;">Pricing</h1>
      <hr>
      <br />
        <div class="container">
            <div class="row">
              <img src="img/pricing.png"/>
        </div>
        <!-- About us -->
        <a  name="aboutus"></a>
        <div class="content-section-b">
          <div class="about-team container">
            <h1 style="text-align:center;">Our Team</h1>
            <hr>
            <br />
                <ul class="col-sm-4">
                  <li style="list-style-type: none;"><img class="img-circle" id="mypic" src="/img/ardian.jpg"><br/><h3>Ardian Ajvazi</h3><hr />
                    <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress.</p>
                  </li>
                  </ul>
                  <ul class="col-sm-4">
                  <li style="list-style-type: none;"><img class="img-circle" id="mypic" src="/img/sam.jpg"><br/><h3>Sam Heutmaker</h3><hr />
                    <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress.</p>
                  </li>
                </ul>
                <ul class="col-sm-4">
                  <li style="list-style-type: none;"><img class="img-circle" id="mypic" src="/img/erika.png"><br/><h3>Erika Hokanson</h3><hr />
                    <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress. </p>
                  </li>
                </ul>
        </div>
        </div>
        <br />

          <div class="about-team container">
                <ul class="col-sm-4">
                  <li style="list-style-type: none;"><img class="img-circle" id="mypic" src="/img/chris.jpeg"><br/><h3>Chris Lee</h3><hr />
                    <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress.</p>
                  </li>
                  </ul>
                  <ul class="col-sm-4">
                  <li style="list-style-type: none;"><img class="img-circle" id="mypic" src="/img/rob.jpg"><br/><h3>Rob Merrill</h3><hr />
                    <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress.</p>
                  </li>
                </ul>
                <ul class="col-sm-4">
                <li style="list-style-type: none;"><img class="img-circle" id="mypic" src="/img/Unknown.gif"><br/><h3>This could be you</h3><hr />
                  <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress. </p>
                </li>
              </ul>
        </div>

        </div>
        <br />
        <br />
        <br />
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <a  name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="copyright text-muted small" style="color:white">Copyright &copy; Notify 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->

</div>
